.Ada li{
    margin-top: 48px;
    margin-bottom: 24px;
    }
    .Ada li{
        border: 1px solid #505050;
        padding: 2px 15px;
        font-size: 13px;
        background: #fff;
        border-radius: 18px;
        display: inline-block;
        margin: 0px 5px 9px 0px;
       
    }


    .list-itam{
        background-color:#f4f7f8; 
        margin-top: 24px;
        margin-bottom: 24px;
       }


    .para{
        text-align: center;
        color: #214c6f;
    }
    
    .para::after{
        content: "";
        border-bottom: 8px solid #ffcb03;
        border-radius: 20px;
        display: block;
        margin-top: 12px;
        box-sizing: border-box;
        width: 4%;
        text-align: center;
        margin-left: 470px;
    }




    .form-check-label{
        font-weight: bolder;
        font-size: 13px;
    }
    .form-check-label a{
        color: black;
    }
    .company-powder{
        display: flex;
        justify-content: space-between;
    }
    .powered-me{
        color: #214c6f;
    }
    .powered-me a{
color:#214c6f;
    }


    .navbar-text-1{
        color:#214c6f; 
        
        font-size: 15px;
    }






    .navbar-brand-1{
        color:#214c6f; 
        text-decoration: none;
        font-size: 30px;
    }



    .navbar-text-1 a{
        text-decoration: none;
        color:#214c6f ;
        font-size: 20px;
    }


    .container-fluid-1{
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }





    .nav-2{
        background: #214c6f;
        text-align: center;
        justify-content: center;
        font-size: 1rem;
        color: #fff;
    }

    .let{
        text-align: center;
        color:#214c6f; 
        margin-top: 48px;
    }

    .card-text{
        text-align: center;
    }
    .card-text i{
        margin-right: 5px;
    }
    
    .card{
    margin-top: 15px;
    

    }
    .navbar-nav a{
        color: #fff;
    }

    section .btn{
        color: #fff;
        background:#17a2b8 ;
        /* border-radius:  8px; */
        
    }